Django==2.1.1
psycopg2-binary==2.7.5
django-cors-headers==2.4.0
configparser==3.5.0
filelock==2.0.6
djangorestframework==3.8.2
markdown==2.6.11
django-filter==2.0.0
django-guardian==1.4.9
django-extensions==2.1.2
django-geojson==2.11.0
django-oauth-toolkit==1.2.0
Celery==4.3
redis==3.2
celery[redis]
schema==0.6.8
slackclient==1.2.1
requests==2.20.0
gunicorn==19.9.0
django-notifications-hq==1.5.0
django-celery-beat==1.4.0
numpy==1.22.0