{% block content %}
  {% if validlink %}
    <h3>[Icarus] Change password</h3>
    <form action={% url 'reset password' uidb64=uid token=token %} method="post">
      <label for="new_password">New Password: </label>
        <input id="new_password" type="text" name="new_password"><br><br>
      <button type="submit">Change password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}