node_modules/
icarus-web-app/dist/**
icarus-web-app/src/config/env.js

.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
demo-drone-app/dist/**

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
config.js
dist/